html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family:'Segoe UI';
}

nav {
	background-color: #B946A1;
	display: flex;
	padding: 0 10px;
	color:#ddbfd9
}

p {
	font-weight: bolder;
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	list-style: none;
	align-items: center;
	margin-left: auto;
	justify-content: space-around;
}

h1 {
	text-align: center;
	color: #0d348f;
}

.body {
	flex: 1;
	text-align: center;
	margin-bottom: 109px;
	background-color: #9846b970;
	margin-bottom: 0;
}

.content {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-top: 40px;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.buttons {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	align-items:center;
}

button {
	padding: 10px 20px;
	background-color: #f5c3f8;
	margin-top: 10px;	
	border: 3px solid #9846B9;
	border-radius: 10px;
	color:#041439;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 18px;
}

#screen {
	border: #9846B9 solid 7px;
	border-radius: 10px;
	width: 400px;
	height: 400px;
	padding: 1px;
	display: flex;
	flex-direction: column;
}

.row {
	flex: 1 1 auto;
	display: flex;
}

input[type="color"] {
	border: none;
	padding: 0;
	margin: 5px 0;;
	background-color: transparent;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 235px;
	height: 40px;
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 5px;
	border:none;
}

input[type="color"]::-moz-color-swatch {
	border-radius: 5px;
	border:none;
}


.pixel {
	background-color: rgb(255, 255, 255);
	flex: 1 1 auto;
}
footer {
	background-color: #9846B9;
}

footer ul {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

a {
	text-decoration: none;
	color: #ddbfd9;
}

a:hover {
	font-weight: bolder;
	color: #ffddfa;
}